@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root, html, body , body > div {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    text-underline-position: under;
}

.active-char {
    animation: blinking-underline 0.9s ease-in-out infinite;
}

.blinking {
    animation: blinking 0.9s ease-in-out infinite;
}

.correct-char {
    color: var(--secondary-text-color);
}

.incorrect-char {
    color: var(--error-color);
    text-decoration: underline;
}

@keyframes blinking-underline {
    0% {text-decoration: underline;}
    50% {text-decoration: underline;}
    60% {text-decoration: none;}
    99% {text-decoration: none;}
    100% {text-decoration: underline;}
}

@keyframes blinking {
    0% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}