@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
html,
body,
body>div {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    text-underline-position: under;
}

#list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#list {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.bg-b2 {
    background-color: hsl(var(--b2, var(--b1)));
}

@media screen and (max-width: 640px) {
    .my-react-select__dropdown-indicator {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    .my-react-select__dropdown-indicator>svg {
        width: 14px !important;
        height: 14px !important;
    }

    .my-react-select__single-value {
        font-size: 14px !important;
    }

    .my-react-select__value-container {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
}

.my-react-select__menu-portal {
    z-index: 100 !important;
    position: fixed !important;
    top: 144px !important;
    left: 24px !important;
}

.my-react-select-container .my-react-select__control {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
    border-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
}

.my-react-select-container .my-react-select__control--is-focused,
.my-react-select-container .my-react-select__control:hover {
    border-color: transparent !important;
    outline: none !important;
    outline-offset: unset !important;
    box-shadow: none !important;
}

.my-react-select-container .my-react-select__menu {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
    border-color: transparent !important;
    z-index: 100;
}

.my-react-select-container .my-react-select__option {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
}

.my-react-select-container .my-react-select__option:active {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
}

.my-react-select__option--is-disabled {
    color: hsl(var(--bc) / var(--tw-text-opacity, 0.5)) !important;
    background-color: hsl(var(--b2) / var(--tw-bg-opacity, 1)) !important;
}

.my-react-select-container .my-react-select__option--is-focused {
    outline: none !important;
    outline-offset: unset !important;
    cursor: pointer;
    background-color: hsl(var(--b3, var(--b2)) / var(--tw-bg-opacity));
}

.my-react-select-container .my-react-select__indicator-separator {
    background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
}

.my-react-select-container .my-react-select__indicator,
.my-react-select-container .my-react-select__input-container,
.my-react-select-container .my-react-select__placeholder,
.my-react-select-container .my-react-select__single-value {
    color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

.my-react-select-container .my-react-select__indicator:hover,
.my-react-select-container .my-react-select__input-container:hover,
.my-react-select-container .my-react-select__placeholder:hover,
.my-react-select-container .my-react-select__single-value:hover {
    cursor: pointer;
    color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

.active-char {
    animation: blinking-underline 0.9s ease-in-out infinite;
}

.blinking {
    animation: blinking 0.9s ease-in-out infinite;
}

.correct-char {
    color: var(--secondary-text-color);
}

.incorrect-char {
    color: var(--error-color);
    text-decoration: underline;
}

/* .react-activity-calendar__footer {
    justify-content: center !important;
} */
/* .react-activity-calendar__legend-colors {
    margin-left: 0px !important;
} */
/* width */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: hsla(var(--b2) / var(--tw-bg-opacity, 0.2));
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: hsla(var(--b3) / var(--tw-text-opacity, 1));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: hsla(var(--b2) / var(--tw-text-opacity, 1));
}

@keyframes blinking-underline {
    0% {
        text-decoration: underline;
    }

    50% {
        text-decoration: underline;
    }

    60% {
        text-decoration: none;
    }

    99% {
        text-decoration: none;
    }

    100% {
        text-decoration: underline;
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Add your existing styles here */

/* Blog post styles */
.blog-content {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.blog-content h1 {
    margin-top: 0 !important;
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.blog-content h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.blog-content p {
    margin-bottom: 1em;
}

.blog-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1em 0;
}

.blog-content blockquote {
    margin: 1.5em 0;
    padding: 0.5em 1em;
    font-style: italic;
}

.blog-content ul,
.blog-content ol {
    margin: 1em 0;
    padding-left: 1.5em;
}
.blog-content ul {
    list-style-type: disc; /* Add bullet points to unordered lists */
}

.blog-content ol {
    list-style-type: decimal; /* Add numbers to ordered lists */
}

.blog-content li {
    margin-bottom: 0.5em;
}

.blog-content a {
    color: #0070f3;
    text-decoration: none;
}

.blog-content a:hover {
    text-decoration: underline;
}

.kbd-unlocked {
    cursor: pointer;
}

.kbd-locked {
    cursor: pointer;
}